**/auto
*.aux
*.bbl
*.blg
*.cache
*.fdb_latexmk
*.fls
*.glob
*.log
*.nav
*.snm
*.toc
*.v.d
*.vio
*.vo
*.v-e
*.pdf
*.tex-old
.history

/coq/.depend
/coq/CoqSrc.mk
/doc/ESOP2018/ott-rules.tex
/doc/notes/note.tex
/doc/notes/ott-rules.tex
/doc/notes/out.tex
/doc/notes/slides.tex

.stack-work/
/doc/ESOP2018/footempfile.txt
/doc/ESOP2018/appendix.mng
/doc/ESOP2018/sections/algorithm.mng
/doc/ESOP2018/sections/coherence.mng
/doc/ESOP2018/sections/typesystem.mng
/doc/ESOP2018/paper_long.synctex.gz
